<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Row: Mars News  -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <small>{{listings.headline}}</small>
      </div>
    </div>

    <!-- Row: Featured images and facts  -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-8">
        <h3 class="heading">Featured Mars Image</h3>
        <img class="img-fluid float-left" src="{{listings.featured}}"/>
      </div>

      <div class="col-md-4 float-right">
        <h3 class="heading text-center">Mars Facts</h3>
        <p>{{listings.factoids|safe}}</p>
      </div>
    </div>
    
    <!-- Row: Mars Hemispheres  -->
    <div class="row" id="craiglist-listings">
      <div class="page-header">
        <h2 class="text-center">Mars Hemispheres</h2>
      </div>

      {% for hemi in listings.hemispheres %}

      <div class="col-md-3">
        <div class="thumbnail">
          <img class ="ing-fluid" src="{{hemi.img_url}}"/>
          <div class="caption">{{hemi.title}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</body>

</html>